<!-- {{ hero }} -->

<!-- Update the binding in the template to announce the hero's name and
show both id and name in a details layout -->
<!--<h2>{{ hero.name }} Details</h2>-->

<!--The word uppercase in the interpolation binding,
right after the pipe operator ( | ), activates the built-in UppercasePipe.-->
<h2>{{ hero.name | uppercase }} Details</h2>
<div>
  <span>id: </span>{{ hero.id }}
</div>
<div>
  <!--<span>name: </span>{{ hero.name }}-->

  <!--setup a two-way data binding between the <input> form element and the hero.name property.-->
  <label>
    name:
    <input placeholder="name"/>
  </label>
</div>
